.lightbox {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
}

.lightboxClose {
  position: absolute;
  top: 5%;
  right: 8%;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.lightboxImg {
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lightboxImgAnimation {
  animation: identifier 0.5s ease-in;
}

.lightboxLeft {
  position: absolute;
  left: 8%;
  top: 50%;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.lightboxRight {
  position: absolute;
  right: 8%;
  top: 50%;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.lightboxClose:hover,
.lightboxLeft:hover,
.lightboxRight:hover {
  cursor: pointer;
  background-color: var(--intermediate-color);
}
.lightboxClose:hover {
  transform: rotate(90deg);
}

.lightboxLeft:hover {
  transform: translateX(-5px);
}

.lightboxRight:hover {
  transform: translateX(5px);
}

@media (max-width: 1440px)  {
  .lightboxImg {
    width: 600px;
    height: 600px;
  }
  .lightboxClose {
    top: 15%;
  }
}

@media (max-width: 1024px)  {
  .lightboxImg {
    width: 500px;
    height: 500px;
  }
}



@media (max-width: 768px)  {
  .lightboxImg {
    width: 300px;
    height: 300px;
  }

  .lightboxClose,
  .lightboxLeft,
  .lightboxRight {
    width: 25px;
    height: 25px;
  }

  .lightboxClose {
    top: 25%;
  }
}

@media (max-width: 500px)  {
  .lightboxImg {
    width: 200px;
    height: 200px;
  }
  .lightboxClose {
    top: 30%;
  }
}

@media (max-width: 350px)  {
  .lightboxImg {
    width: 130px;
    height: 130px;
  }
}