.mainAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutIntro {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1em 0em;
}

.aboutImg {
  object-fit: cover;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  border-radius: 100%;
}

.aboutTitle {
  font-family: var(--title-font);
  color: var(--title-color);
  text-decoration: underline;
  padding: 1em;
}

.aboutPresentation {
  display: flex;
  flex-direction: column;
  width: 75vw;
}

.aboutText {
  font-family: var(--primary-font);
  font-size: 1.3em;
  padding: 1em;
  margin: 0;
}

.aboutList {
  display: flex;
  align-items: center;
  column-gap: 1em;
}

.aboutLocal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.aboutLocal div {
  display: flex;
  column-gap: 2em;
}

.aboutLocalImage {
  border-radius: 10px 10px 0px 0px;
}

@media (max-width: 1024px) {
  .aboutLocalImage {
    width: 200px;
    height: 200px;
  }

  .aboutLocal div {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 2em;
  }
}

@media (max-width: 900px) {
  .aboutImg {
    height: 150px;
    width: 150px;
  }

  .aboutText {
    font-size: large;
  }
}

@media (max-width: 768px)  {
  

  .aboutImg {
    height: 120px;
    width: 120px;
  }

  

  .aboutPresentation {
    margin:0;
    width: 85vw;
  }

  .aboutText {
   
    padding: 0.5rem;
  }
}

