.header {
  display: flex;
  align-items: center;
  background-color: var(--background-color);
  position: relative;
  z-index: 0;
  padding: 0% 0.5%;
}
.headerNav {
  display: flex;
}

.headerNavTitle {
  color: var(--title-color);
  font-family: var(--title-font);
  margin: auto;
}


@media  screen and (max-width: 1024px) { 
  .header {
    font-size: small;
  }
 }