.mainHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homeTitle {
  font-family: var(--title-font);
  color: black;
  padding: 1em;
  text-align: center;
  color: var(--title-color);
}

.homeDescription {
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  column-gap: 5em;
}

.homeImage {
  object-fit: cover;
  border-radius: 10px;
}

.homePresentation {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.homeLink {
  color: red;
}

.homePresentation p {
  padding: 1em;
  font-family: var(--primary-font);
  font-size: 1.3em;
}

.homeInformations {
  display: flex;
  justify-content: center;
  column-gap: 3em;
  margin-top: 2em;
}

.homeInformations > button {
  border-radius: 5px;
  padding: 1em 3em;
  border: none;
  font-weight: bolder;
  font-family: var(--title-font);
  background-color: var(--intermediate-color);
  color: white;
}

@media (max-width: 1500px) {
  .homeDescription {
    flex-wrap: wrap;
  }
  .homeImage {
    height: 500px;
    width : 300px;
  }
}

@media (max-width: 768px) {
  .homeImage {
    height: 300px;
    width : 200px;
  }
  .homeInformations {
    flex-wrap: wrap;
    row-gap: 2em;
  }
}

