/* Spectral SC font */

/* latin */
@font-face {
  font-family: "Spectral SC";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spectralsc/v12/Ktk0ALCRZonmalTgyPmRfs1qwnTQN4Y.woff2)
    format("woff2");
}

/* Raleway */

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v29/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrE.woff2) format('woff2');
}

:root {
  --background-color: #fef6e9;
  --foreground-color: #eec3ae;
  --intermediate-color: #db8c90;
  --title-font: "Spectral SC", serif;
  --primary-font: 'Raleway', sans-serif;
  --title-color: #b23d3b;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  animation: fadeInUp 1s ease;
}

a {
  text-decoration: none; /* Supprime le soulignement des liens */
  color: inherit; /* Utilisez la couleur par défaut du texte */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}



@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(-50px); /* Déplacement vers le haut */
  }
  50% {
      opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Aucun déplacement, position finale */
  }
}
