.footer {
  display: flex;
  color: var(--title-color);
  background-color: var(--background-color);
  justify-content: space-around;
  padding: 1% 0%;
  font-size: large;
  font-family: var(--primary-font);
}

.footerList > li {
  padding: 3% 0%;
  display: flex;
  align-items: center;
}

.footerList > li :hover {
  text-decoration: underline;
}

.footerTitle {
  font-family: var(--title-font);
  text-decoration: underline;
}

@media (max-width: 425px)  {
  .footer {
    font-size: small;
  }
}

@media (max-width: 768px) and (max-height: 1100px) {
  .footer {
    font-size: small;
  }
}

@media (max-width: 768px) and (max-height: 800px) {
  .footer {
    font-size: x-small;
  }
}
