.footer {
  display: flex;
  color: var(--title-color);
  background-color: var(--background-color);
  justify-content: space-around;
  padding: 1% 0%;
}

.footerList > li {
  padding: 3% 0%;
  display: flex;
  align-items: center;
}

.footerList > li :hover {
  text-decoration: underline;
}

.footerTitle {
  font-family: var(--title-font);
  text-decoration: underline;
}

@media screen and (max-width: 425px) {
  .footer {
    font-size: small;
  }
}
